@{
    ViewBag.Title = "Xác nhận quên mật khẩu thành công";
    Layout = Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="login-header">
    <div class="w-login m-auto">
        <div class="login-logo">
            <h3>
                <!-- <a href="#">Tech<span class="txb-logo">Jobs.</span></a> -->
                <a href="#">
                    <img src="~/Content/assets/img/logojobtran.png">
                </a>
            </h3>
            <span class="login-breadcrumb"><em>/</em> Quên mật khẩu</span>
        </div>
        <div class="login-right">
            <a href="/home" class="btn btn-return">Quay lại trang chủ</a>
        </div>
    </div>
</div>
<!-- (end) login header -->

<div class="container">
    <div class="row">
        <div style="margin-top:100px" class="col-md-8">
            <h1>@ViewBag.Title.</h1>
            <p>
                Vui lòng kiểm tra Email để đặt lại mật khẩu.
            </p>
        </div>

    </div>

</div>


