@model  IEnumerable<WebJob.Models.EF.CategoryProduct>

<style>
    .active1 {
        text-decoration: underline;
        text-decoration-color: #007bff;
        text-decoration-thickness: 2px; /* Điều chỉnh độ dày của gạch chân */
    }


</style>

@if (Model != null && Model.Any())
{
    <div class="collapse show" id="filter-topic">
        <div class="card o-card card-body">
            <div class="filter-panel">
                <div class="panel-content">
                    @foreach (var item in Model)
                    {
                        if (ViewBag.CateId == item.CateProId)
                        {

                            <div class="filter-topic cotain-common-filter ">
                                <a href="/danh-muc-san-pham/@item.Alias-@(item.CateProId)" class="filter-action active1">@item.Title</a>
                                @*<span class="filter-count">233</span>*@
                            </div>
                        }
                        else
                        {

                            <div class="filter-topic cotain-common-filter">
                                <a href="/danh-muc-san-pham/@item.Alias-@(item.CateProId)" class="filter-action">@item.Title</a>
                                @*<span class="filter-count">233</span>*@
                            </div>
                        }

                    }

                </div>
            </div>
        </div>
    </div>

}