@model  IEnumerable<WebJob.Models.EF.CategoryProduct>

@if (Model != null && Model.Any())
{

    <div class="collapse show" id="filter-topic">
        <div class="card o-card card-body">
            <div class="filter-panel">
                <div class="panel-content">
                   


                    @foreach (var item in Model)
                                {
                                    var activeproductCount = item.Products.Count(j => j.IsActive);
                                    if (ViewBag.CateProId == item.CateProId)
                                    {
                            <div class="filter-topic cotain-common-filter">
                                <a href="/@item.Alias-@item.CateProId" class="filter-action active-one">@item.Title=</a>
                                <span class="filter-count">@activeproductCount</span>
                            </div>
                        }
                        else
                        {
                            <div class="filter-topic cotain-common-filter">
                                <a href="/@item.Alias-@item.CateProId" class="filter-action">@item.Title</a>
                                <span class="filter-count">@activeproductCount</span>
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
    </div>

    <style>
        .active-one {
            text-decoration: underline;
            text-decoration-color: blue;
        }
    </style>



    @*<li>
            <a href="#" class="readallstyle reads1">Xem tất cả</a>
        </li>*@


}
