@model IEnumerable<WebJob.Models.EF.Company>
<div class="row">
    @foreach (var company in Model)
    {
        var strImge = "";
        var img = company.CompanyImages.FirstOrDefault(x => x.IsDefault);
        if (img != null)
        {
            strImge = img.ImageURL;
        }
        <div class="col-md-3 col-sm-6 col-12 top-employer-wrap">
            <div class="top-employer-item">
                <a href="#">
                    <div class="emp-img-thumb">
                        <img src="@strImge">
                    </div>
                    <h3 class="company">@company.CompanyName</h3>
                </a>
            </div>
        </div>
    }
</div>