
@{
    ViewBag.Title = "Đặt hàng thành công";
    //Layout = null;
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div class="container-fluid">
    <div class="container search-wrapper">
        <div class="row">

            <div class="col-md-12 col-sm-12 col-12">
                @*<h4 class="search-find">Tìm thấy việc làm đang lưu</h4>*@
                <div class="job-board-wrap">
                    <div class="job-group">
                        <h2>Mua hàng thành công!</h2>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>