@model WebJob.Models.OrderViewModel
@{
    ViewBag.Title = "Partial_CheckOut";
    Layout = null;
}


@using (Ajax.BeginForm("CheckOut", "ShoppingCart", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnComplete = "OnSuccessCO",
    OnFailure = "OnFailure",
    OnBegin= "OnBeginCO"

}, new { @Id = "myForm" }))
{

    <script>
        function OnBeginCO() {
            $('#btnCheckOut').attr("disabled", "disabled");
            $('#load_send').html('<h2>Đang gửi</h2>');
        }

        function OnSuccessCO(res) {
            // Log toàn bộ response để kiểm tra
            console.log("Response:", res);

            // Kiểm tra dữ liệu trong res.responseJSON
            if (res.responseJSON && res.responseJSON.success) {
                if (res.responseJSON.Code === 1) {
                    location.href = "/ShoppingCart/CheckOutSuccess";
                } else if (res.responseJSON.Code === 2) {
                    console.log("Redirecting to:", res.responseJSON.Url);
                    location.href = res.responseJSON.Url; // Điều hướng sang URL VNPAY
                }
            } else {
                alert("Vui lòng đăng nhập trước khi mua hàng!");
                console.error("Response Error:", res);
            }
        }



    </script>


    @Html.AntiForgeryToken()
    <h3>Thông tin khách hàng</h3>
    <div class="form-group">
        <label>Họ và tên:</label>
        <input type="text" name="CustomerName" required value="" class="form-control" autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Số điện thoại:</label>
        <input type="tel" name="Phone" value="" required class="form-control" autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Địa chỉ:</label>
        <input type="text" name="Address" value="" class="form-control" autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Email:</label>
        <input type="email" name="Email" value="" class="form-control" autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Hình thức thanh toán:</label>
        <select class="form-control" name="TypePayment" id="drTypePayment">
            <option selected value="1">COD</option>
            <option value="2">Chuyển khoản</option>

        </select>
    </div>


    <!-- Hình thức thanh toán -->
    <div class="form-group" id="load_form_payment" style="display:none">
        <label for="paymentMethod">Chọn phương thức thanh toán:</label>
        <label><input type="radio" name="TypePaymentVN" value="0" checked />Cổng thanh toán VNPAY</label>
        <label><input type="radio" name="TypePaymentVN" value="1" checked />Thanh toán qua ứng dụng hỗ trợ VNPAY</label>
        <label><input type="radio" name="TypePaymentVN" value="2" checked />ATM tài khoản ngân hàng nội địa</label>
        <label><input type="radio" name="TypePaymentVN" value="3" checked />Thanh toán qua thẻ quốc tế</label>
    </div>

    <div class="form-group" id="load_send"></div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-success" id="btnCheckOut" >Đặt hàng</button>
    </div>
}

