
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- job board & sidebar section  -->
<div class="container-fluid jb-wrapper">
    <div class="container">
        <div class="row">
            <!-- job board -->
            <div class="col-md-8 col-sm-12 col-12">
                <div class="job-board-wrap">
                    <h2 class="widget-title">
                        <span>Tuyển gấp</span>
                    </h2>

                    <div class="job-group">
                        @Html.Action("Partial_JobNow", "Jobs")
                       
                        <div class="readmorestyle-wrap">
                            <a href="#" class="readallstyle reads1">Xem tất cả</a>
                        </div>
                    </div>
                </div>

            </div>

            <!-- (end) job board -->
            <!-- sidebar -->
            <div class="col-md-4 col-sm-12 col-12 clear-left">
                <div class="job-sidebar">
                    <h2 class="widget-title">
                        <span>Ngành Nghề</span>
                    </h2>
                    <div class="catelog-list">
                       @Html.Action("MenuJobCategory", "Menu")
                    </div>
                </div>

                <div class="job-sidebar">
                    <div class="sb-banner">
                        <img src="~/Content/assets/img/ads1.jpg" class="advertisement">
                    </div>
                </div>
            </div>
            <!-- (end) sidebar -->
        </div>
    </div>
</div>
<!-- (end) job board & sidebar section  -->

<div class="clearfix"></div>



<!-- job board v2 -->
<div class="container-fluid">
    <div class="container job-board2">
        <div class="row">
            <div class="col-md-12 job-board2-wrap-header">
                <h3>Tin tuyển dụng, việc làm mới nhất</h3>
            </div>
            <div class="col-md-12 job-board2-wrap">
                <div class="owl-carousel owl-theme job-board2-contain">
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000 #1</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/alipay-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>Fullstack .NET Developer (Angular/React) #2</h3>
                                <a class="company" href="#">Orient Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/nvg-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>Frontend Developer (JavaScript, ReactJS)</h3>
                                <a class="company" href="#">mgm technology</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/luxoft-vietnam-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>IVI System Test Engineer</h3>
                                <a class="company" href="#">LUXOFT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                    <div class="item job-latest-item">
                        <a href="#" class="job-latest-group">
                            <div class="job-lt-logo">
                                <img src="img/fpt-logo.png">
                            </div>
                            <div class="job-lt-info">
                                <h3>[HCM] 02 Solution Architects–Up to $2000</h3>
                                <a class="company" href="#">FPT Software</a>
                                <p class="address"><i class="fa fa-map-marker pr-1" aria-hidden="true"></i> Đà Nẵng</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            autoplay: true,
            autoplayTimeout: 3000,
            autoplayHoverPause: true,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 2,
                    nav: true,
                    slideBy: 2,
                    dots: false
                },
                600: {
                    items: 4,
                    nav: false,
                    slideBy: 2,
                    dots: false
                },
                1000: {
                    items: 6,
                    nav: true,
                    loop: false,
                    slideBy: 2
                }
            }
        });
    })
</script>


<!-- (end) job board v2 -->

<div class="clearfix"></div>

<!-- top employer -->
<div class="container-fluid">
    <div class="container top-employer">
        <div class="row">
            <div class="col-md-12 top-employer-contain">
                <div class="header">
                    <h3>Nhà tuyển dùng hàng đầu</h3>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-12 top-employer-wrap">
                        <div class="top-employer-item">
                            <a href="#">
                                <div class="emp-img-thumb">
                                    <img src="img/fpt-logo.png">
                                </div>
                                <h3 class="company">FPT Software</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 top-employer-wrap">
                        <div class="top-employer-item">
                            <a href="#">
                                <div class="emp-img-thumb">
                                    <img src="img/nvg-logo.png">
                                </div>
                                <h3 class="company">mgm technology</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 top-employer-wrap">
                        <div class="top-employer-item">
                            <a href="#">
                                <div class="emp-img-thumb">
                                    <img src="img/alipay-logo.png">
                                </div>
                                <h3 class="company">ALIPAY Software</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 top-employer-wrap">
                        <div class="top-employer-item">
                            <a href="#">
                                <div class="emp-img-thumb">
                                    <img src="img/luxoft-vietnam-logo.png">
                                </div>
                                <h3 class="company">Luxoft Software</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 top-employer-wrap">
                        <div class="top-employer-item">
                            <a href="#">
                                <div class="emp-img-thumb">
                                    <img src="img/techcombank-logo.png">
                                </div>
                                <h3 class="company">Techcombank</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 top-employer-wrap">
                        <div class="top-employer-item">
                            <a href="#">
                                <div class="emp-img-thumb">
                                    <img src="img/home-credit.png">
                                </div>
                                <h3 class="company">Home Credit</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 top-employer-wrap">
                        <div class="top-employer-item">
                            <a href="#">
                                <div class="emp-img-thumb">
                                    <img src="img/grab-vietnam.png">
                                </div>
                                <h3 class="company">Grab (Vietnam) Ltd.</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-12 top-employer-wrap">
                        <div class="top-employer-item">
                            <a href="#">
                                <div class="emp-img-thumb">
                                    <img src="img/HINH.png">
                                </div>
                                <h3 class="company">Techbase Vietnam</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- (end) top employer -->


<div class="clearfix"></div>


<!-- job-best-salary -->
<div class="container-fluid">
    <div class="container job-best-salary">
        <div class="row">
            <div class="col-md-12 job-board2-wrap-header job-best-salary-header">
                <h3><i class="fa fa-briefcase pr-2"></i> Việc làm hấp dẫn</h3>
            </div>
        </div>
        <div class="row job-best-salary-inner">
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/hdbank-logo.png" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                Java Developer (.NET, PL/SQL)
                            </div>
                            <a href="#company" class="company">
                                HD Bank
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>15 - 35 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hồ Chí Minh</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/SCS_Logo_original.png" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                Senior .NET Developers
                            </div>
                            <a href="#company" class="company">
                                SCS Solution
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>20 - 40 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fpt-logo.png" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                Senior .NET Dev – Signing bonus upto 30M
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>35 - 70 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/novaon-digital-group-logo.png" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET Developer (C#, ASP.NET) Up to $1200
                            </div>
                            <a href="#company" class="company">
                                NOVAON
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- (end) job-best-salary -->
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="home-ads">
                    <a href="#">
                        <img src="img/hna.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- job-best-salary -->
<div class="container-fluid">
    <div class="container job-best-salary">
        <div class="row">
            <div class="col-md-12 job-board2-wrap-header job-best-salary-header">
                <h3><i class="fa fa-briefcase pr-2"></i> Việc làm lương cao</h3>
            </div>
        </div>
        <div class="row job-best-salary-inner">
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/hdbank-logo.png" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                Java Developer (.NET, PL/SQL)
                            </div>
                            <a href="#company" class="company">
                                HD Bank
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>15 - 35 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hồ Chí Minh</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/SCS_Logo_original.png" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                Senior .NET Developers
                            </div>
                            <a href="#company" class="company">
                                SCS Solution
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>20 - 40 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fpt-logo.png" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                Senior .NET Dev – Signing bonus upto 30M
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>35 - 70 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/novaon-digital-group-logo.png" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET Developer (C#, ASP.NET) Up to $1200
                            </div>
                            <a href="#company" class="company">
                                NOVAON
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6 job-over-item">
                <div class="job-inner-over-item">
                    <a href="#wrap">
                        <div class="thumbnail">
                            <img src="img/fitech-logo.jpg" alt="company logo image">
                        </div>
                        <div class="content">
                            <div class="job-name">
                                .NET/C# developers ($1,000-$1,500 net)
                            </div>
                            <a href="#company" class="company">
                                Fitech
                            </a>
                        </div>
                        <div class="extra-info">
                            <p class="salary mt-2"><i class="fa fa-money pr-2"></i>10 - 20 triệu</p>
                            <p class="place"><i class="fa fa-map-marker pr-2"></i>Hà Nội</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- (end) job-best-salary -->

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="home-ads">
                    <a href="#">
                        <img src="img/hna2.jpg">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<!-- news -->
<div class="container-fluid">
    <div class="container news-wrapper">
        <div class="row">
            <div class="col-md-12 news-wrapper-head">
                Tư vấn nghề nghiệp từ HR Insider
            </div>
            <div class="col-md-4 col-sm-12 col-12 news-item">
                <div class="news-item-inner">
                    <a href="#wrap">
                        <div class="news-thumb" style="background-image: url(img/news1.jpg);"></div>
                    </a>
                    <div class="news-details">
                        <div class="tags">
                            <a href="#tag1">Quyền lợi nhân viên</a>
                        </div>
                        <div class="title">
                            <a href="#">
                                5 thời điểm doanh nghiệp không được buộc người lao động thôi việc
                            </a>
                        </div>
                        <div class="meta">
                            Khi nào thì người sử dụng lao động được quyền đơn phương chấm dứt hợp đồng khi nào thì không? Cùng tham khảo bài viết sau đây để hiểu thêm về quyền lợi của người lao động Việt Nam nhé!
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12 news-item">
                <div class="news-item-inner">
                    <a href="#wrap">
                        <div class="news-thumb" style="background-image: url(img/news2.jpg);"></div>
                    </a>
                    <div class="news-details">
                        <div class="tags">
                            <a href="#tag1">Trước khi nhảy việc</a>
                        </div>
                        <div class="title">
                            <a href="#">
                                Nhảy việc và những con số bạn cần phải lưu tâm
                            </a>
                        </div>
                        <div class="meta">
                            Dù bạn nhảy việc vì lý do gì cũng hãy cân nhắc đến những “con số” sau đây nhé!
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-12 news-item">
                <div class="news-item-inner">
                    <a href="#wrap">
                        <div class="news-thumb" style="background-image: url(img/news3.png);"></div>
                    </a>
                    <div class="news-details">
                        <div class="tags">
                            <a href="#tag1">Huấn luyện nhân sự</a>
                        </div>
                        <div class="title">
                            <a href="#">
                                Đánh giá: bước đệm cần thiết trong việc đào tạo huấn luyện nhân viên
                            </a>
                        </div>
                        <div class="meta">
                            Cú sốc về kinh tế do Covid-19 gây ra đã khiến cho nhiều doanh nghiệp lớn và nhỏ phải nhanh chóng tìm ra các phương án ứng phó tốc độ và hiệu quả để giải quyết bài toán về tìn...
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- (end) news -->