<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - TechJobs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Roboto Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i&display=swap" rel="stylesheet">


    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/bootstrap.min.css">

    <!-- main css -->
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/style.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha256-NuCn4IvuZXdBaFKJOAcsU2Q3ZpwbdFisd5dux4jkQ5w=" crossorigin="anonymous" />

</head>
<body>
    <div class="container-fluid login-fluid clear-left clear-right">
        <div class="login-container">
            <!-- login header -->
            <!--<div class="login-header">
                <div class="w-login m-auto">
                    <div class="login-logo">
                        <h3>-->
                            <!-- <a href="#">Tech<span class="txb-logo">Jobs.</span></a> -->
                            <!--<a href="#">
                                <img src="~/Content/assets/img/techjobs_bgw.png" alt="TechJobs">
                            </a>
                        </h3>
                        <span class="login-breadcrumb"><em>/</em> Đăng Nhập</span>
                    </div>
                    <div class="login-right">
                        <a href="/home" class="btn btn-return">Return Home</a>
                    </div>
                </div>
            </div>-->
            <!-- (end) login header -->

            <!--<div class="clearfix"></div>

            <div class="padding-top-90"></div>-->

            <!-- login main -->
            @RenderBody()

            <!-- (end) login main -->
        </div>
    </div>
    <footer class="login-footer">
        <div class="w-login m-auto">
            <div class="row">
                <!-- login footer left -->
                <div class="col-md-6 col-sm-12 col-12 login-footer-left">
                    <div class="login-copyright">
                        <p>Copyright © 2020 <a href="#"> TechJobs</a>. All Rights Reserved.</p>
                    </div>
                </div>
                <!-- login footer right -->
                <div class="col-md-6 col-sm-12 col-12 login-footer-right">
                    <ul>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/Content/assets/js/jquery-3.4.1.slim.min.js"></script>
    <script src="~/Content/assets/js/popper.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="~/Content/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>